html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.stats {
  text-align: center;
}
#stats {
  padding-top: 10%;
}
#my-button {
  margin-left: 44%;
  margin-right: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 30px 20px 30px;
  font-size: x-large;
  white-space: nowrap;
  /* padding-left: 20%; */
  /* padding-right: 20%; */
  /* left: 47%; */
}
#upgrades {
  text-align: center;
}